include README.md
include LICENSE
include requirements_dev.txt

graft dep_guardian

# Include GUI templates and JS helpers
recursive-include dep_guardian/gui/templates *.html
include dep_guardian/semver_checker.js
include dep_guardian/package-lock.json
recursive-include dep_guardian/node_modules *

# Exclude Python cache
global-exclude *.py[co] __pycache__ .pytest_cache
prune dep_guardian/__pycache__
prune dep_guardian/gui/__pycache__
